includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    # - vendor/phpstan/phpstan-doctrine/extension.neon
    # - vendor/phpstan/phpstan-doctrine/rules.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-symfony/rules.neon

parameters:
    ignoreErrors:
        # Doctrine DBAL
        - '#expects string\|null, Doctrine\\DBAL\\Query\\Expression\\CompositeExpression given#'
        - '#Property Netgen\\Layouts\\RemoteMedia\\API\\Values\\RemoteMediaItem::\$id \(int\|null\) is never assigned int so it can be removed from the property type.#'

        #PHPStan

        - '#Call to method arrayNode\(\) on an unknown class Symfony\\Component\\Config\\Definition\\Builder\\NodeBuilder<Symfony\\Component\\Config\\Definition\\Builder\\ArrayNodeDefinition>#'
