parameters:
    level: 8

    paths:
        - lib
        - bundle

    ignoreErrors:
        # PHPStan

        - '#Property Netgen\\Layouts\\RemoteMedia\\API\\Values\\RemoteMediaItem::\$id \(int\|null\) is never assigned int so it can be removed from the property type.#'
