{% if item.remoteMediaValue.mediaType == 'image' %}
    <div class="remote-media">
        <img src="{{ item.remoteMediaValue.secure_url }}" />
    </div>
{% elseif item.remoteMediaValue.mediaType == 'video' %}
    {% set thumbnail = netgen_remote_media_video_thumbnail_url(item.remoteMediaValue) %}

    {% if thumbnail %}
        <div class="remote-media">
            <img src="{{ thumbnail }}" />
        </div>
    {% endif %}
{% endif %}
